﻿<div>
    <form asp-controller="Notas" asp-action="NewNote" method="post">
        <div class="mb-3">
            <label for="Title" class="form-label">Email address</label>
            <input type="text" class="form-control" id="Title" name="Title" placeholder="Title Note">
        </div>
        <div class="mb-3">
            <label for="ContentNote" class="form-label">Contenido </label>
            <textarea class="form-control" id="ContentNote" name="ContentNote" rows="3"></textarea>
        </div>
        <button type="submit">Crear</button>
    </form>
</div>