﻿
<head>
    <link rel="stylesheet" href="~/css/MuestraCursosEstilos.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Cursos</title>
    <style>
        .pos-buscador {
            top: -5rem;
            position: relative;
        }

        .contiene-mensaje {
            width: 50%;
            top: 3rem;
            height: 5rem;
            position: relative;
        }

        .opciones {
        }
    </style>
</head>
<!--<body style="background: rgb(59,59,80)">-->
<body>
    <div class="container">
    </div>
    <hr id="Separador-cab " /><br />
    <div id="contieneCursos">
        <div class="Cursos-mos">
            @foreach (Nota note in Model)
            {
                <div class="caja">
                    <div class="card">
                        <div>
                            <a class="text-decoration-none text-muted" href="Notas/MuestraNota?id=@note.Id"><h1 class="fs-5">@note.Title</h1></a>
                            <p id="ini">@note.ContentNote</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

</body>