﻿<div>
    <form asp-controller="Notas" asp-action="UpdateNote" method="post">
        <input type="hidden" id="Id" name="Id" value="@Model.Id"/>
        <div class="mb-3">
            <label for="Title" class="form-label">Email address</label>
            <input type="text" class="form-control" id="Title" name="Title" placeholder="Title Note" value="@Model.Title">
        </div>
        <div class="mb-3">
            <label for="ContentNote" class="form-label">Contenido </label>
            <textarea class="form-control" id="ContentNote" name="ContentNote" rows="3">@Model.ContentNote</textarea>
        </div>
        <button type="submit">Actualizar</button>
    </form>
</div>