﻿<div>
    <div class="caja">
        <div class="card">
            <div>
                <a class="text-decoration-none text-muted" href="Notas/MuestraNota?id=@Model.Id"><h1 class="fs-5">@Model.Title</h1></a>
                <p id="ini">@Model.ContentNote</p>
                <p>@Model.DateUpdate</p>
            </div>
            <div>
                <a href="UpdateNote?id=@Model.Id" class="btn btn-info">Editar</a>
                <a href="DeleteNote?id=@Model.Id" class="btn btn-danger">Eliminar</a>
            </div>
        </div>
    </div>
</div>